* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 20px;
    /* Puedes cambiar el color de fondo (background-color) si lo deseas */
    background-color: lightblue;
    text-align: center;
}



.vis-1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 1px solid white;
    padding: 10px;
    background-color: #98FCCC;
    height: 800px;
}

.vis-2-container {
    display: flex;
    justify-content: center;
    margin: 30px;
    border: 1px solid white;
    padding: 10px;
}
.vis-3-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.vis-4-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    color: black;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}
