body {
    margin: 0 auto;
    /* Puedes cambiar el color de fondo (background-color) si lo deseas */
    background-color: gray;
    max-width: 1200px;
    min-width: 500px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columns {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 8000px;
}

.links{
    color:black;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    color: black;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}
